<template>
  <div>
    <v-app>
      <div id="labels_overview_table">
        <v-card-title>
          <!--            {{$t('multilingual-admin.label.title')}}-->
          <v-row>
            <v-col class="d-flex" cols="6">
              <datatable-filter
                :selected.sync="methodSelected"
                :options="filterMethods"
              ></datatable-filter>
            </v-col>
            <v-col class="d-flex" cols="6">
              <v-checkbox
                v-model="filterWithoutPermissions"
                :label="$t('misc.routes.without_permissions')"
              ></v-checkbox>
            </v-col>

            <v-col class="d-flex" cols="4">
              <datatable-search :search-input.sync="searchInput"></datatable-search>
            </v-col>
          </v-row>
        </v-card-title>

<!--        <v-data-table-->
<!--          :headers="headers"-->
<!--          :items="datatableValues"-->
<!--          :search="searchData"-->
<!--          :custom-filter="filter"-->
<!--          :items-per-page="10"-->
<!--          item-key="index"-->
<!--          single-select-->
<!--          class="elevation-1"-->
<!--          show-expand-->
<!--        >-->
          <template v-slot:item.methods="{ item }">
            <v-chip
              v-if="getHttpMethodsText(item.methods, 'GET')"
              :color="getHttpMethodsColor(item.methods, 'GET')"
              x-small
              outlined
              >{{ getHttpMethodsText(item.methods, 'GET') }}
            </v-chip>

            <v-chip
              v-if="getHttpMethodsText(item.methods, 'DELETE')"
              :color="getHttpMethodsColor(item.methods, 'DELETE')"
              x-small
              outlined
              >{{ getHttpMethodsText(item.methods, 'DELETE') }}
            </v-chip>

            <v-chip
              v-if="getHttpMethodsText(item.methods, 'POST')"
              :color="getHttpMethodsColor(item.methods, 'POST')"
              x-small
              outlined
              >{{ getHttpMethodsText(item.methods, 'POST') }}
            </v-chip>
            <v-chip
              v-if="getHttpMethodsText(item.methods, 'PATCH')"
              :color="getHttpMethodsColor(item.methods, 'PATCH')"
              x-small
              outlined
              >{{ getHttpMethodsText(item.methods, 'PATCH') }}
            </v-chip>
            <v-chip
              v-if="getHttpMethodsText(item.methods, 'PUT')"
              :color="getHttpMethodsColor(item.methods, 'PUT')"
              x-small
              outlined
              >{{ getHttpMethodsText(item.methods, 'PUT') }}
            </v-chip>

            <!--            <v-chip-->
            <!--              v-if="getHttpMethodsText(item.methods, 'HEAD')"-->
            <!--              :color="getHttpMethodsColor(item.methods, 'HEAD')"-->
            <!--              x-small-->
            <!--              outlined-->
            <!--              >{{ getHttpMethodsText(item.methods, 'HEAD') }}-->
            <!--            </v-chip>-->
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              Methods: {{ item.methods }}<br />
              Controller: {{ item.controller }}
              {{ item }}
            </td>
            <td :colspan="headers.length"></td>
          </template>

          <!--            <template v-slot:item.meta.text_status="{ item }">-->
          <!--                <td style="display: none"></td>-->
          <!--            </template>-->
          <!--            <template v-slot:item.meta.review_status="{ item }">-->
          <!--                <td style="display: none"></td>-->
          <!--            </template>-->
          <!--            <template v-slot:item.dummy="{ item }">-->
          <!--                <td style="background-color: red;
          padding-left: 0px !important; padding-right: 0px !important; "></td>-->
          <!--            </template>-->

          <!--          <template v-slot:item.icons="{ item }">-->
          <!--            <div class="d-flex">-->
          <!--              <div-->
          <!--                :style="`color:${$t(-->
          <!--    `multilingual-admin.textstatus.status.${item.meta.text_status}.color`,-->
          <!--                )}`"-->
          <!--              >-->
          <!--                <span-->
          <!--                  :class="-->
          <!--$t(`multilingual-admin.textstatus.status.${item.meta.text_status}.fa_icon`)-->
          <!--                  "-->
          <!--                ></span>-->
          <!--                &nbsp;-->
          <!--              </div>-->
          <!--              <div-->
          <!--                :style="`color:${$t(-->
          <!-- `multilingual-admin.reviewstatus.status.${item.meta.review_status}.color`,-->
          <!--                )}`"-->
          <!--              >-->
          <!--                <span-->
          <!--                  :class="-->
          <!-- $t(`multilingual-admin.reviewstatus.status.${item.meta.review_status}.fa_icon`)-->
          <!--                  "-->
          <!--                ></span>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </template>-->
        </v-data-table>
      </div>
    </v-app>
  </div>
</template>
